h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #A2E3C4;
}

strong {
    font-style: italic;
}

.html, .css, .javascript, .java, .c, .sql {
    font-size: 1.5em;
}

body {
    padding: 3%;
}

.profile-photo {
    float: left;
    height: 284px;
    padding: 8px;
    background-color: rgba(1, 250, 237, 0.986);
}

.image-container {
    height: 300px;
    position: relative;
}

.my-name {
    text-align: center;
}

.about-me {
    position: absolute;
    left: 250px;
    top: 50px;
}

.skills-list li:nth-of-type(odd) {
    color: white;
}